body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  color: white;
  flex-direction: column;
}
.logo {
  width: 250px;
  margin-bottom: 32px;
}